<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Company Website</title>
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="all">
      <section class="header" id="header">
        <nav class="animate-in">
          <a href="" class="cdslogo">
            <h1>CDS</h1>
          </a>
          <div class="nav-links" id="navLinks">
            <i class="fa fa-times" id="burger"></i>
            <ul>
              <li><a href="#header">HOME</a></li>
              <li><a href="#services">SERVICES</a></li>
              <li><a href="#projects">PROJECTS</a></li>
              <li><a href="#contact">CONTACT</a></li>
            </ul>
          </div>
          <i class="fa fa-bars" id="close"></i>
        </nav>

        <div class="text-box">
          <h1 class="animate-infirst">California Design Solutions</h1>
          <p class="animate-in">
            Your next home improvement solution. <br />
            Schedule your appointment with us below
          </p>
          <div class="animate-in">
            <a href="#contact" class="hero-btn">Schedule An Appointment</a>
          </div>
        </div>
      </section>

      <!--Services-->

      <section class="services" id="services">
        <h1>Services We Offer</h1>
        <div class="row">
          <div class="services-col">
            <img src="cdsimages/kitchen.jpg" alt="" />
            <div class="layer">
              <h3>Kitchens</h3>
            </div>
          </div>
          <div class="services-col">
            <img src="cdsimages/bathroom.JPG" alt="" />
            <div class="layer">
              <h3>Bathrooms</h3>
            </div>
          </div>
          <div class="services-col">
            <img src="cdsimages/brown.JPG" alt="" />
            <div class="layer">
              <h3>Cabinets</h3>
            </div>
          </div>
        </div>
      </section>

      <!--projects-->

      <section class="projects" id="projects">
        <h1>Our Projects</h1>
        <div class="row">
          <div class="projects-col">
            <img src="cdsimages/sink.JPG" alt="" />
            <!-- <h3>Bathroom Countertop Layout</h3> -->
          </div>
          <div class="projects-col">
            <img src="cdsimages/bath2.jpg" alt="" />
            <!-- <h3>Bathtub and Shower</h3> -->
          </div>
          <div class="projects-col">
            <img src="cdsimages/counter.JPG" alt="" />
            <!-- <h3>Kitchen Countertop and Cabinets</h3> -->
          </div>
        </div>
      </section>

      <!--contact section-->

      <!-- <section class="location">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d199541.32443701956!2d-121.50621050596116!3d38.6067093704485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1624403308852!5m2!1sen!2sus" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section> -->

      <section class="contact-us" id="contact">
        <h1>Schedule An Appointment With Us</h1>
        <div class="row">
          <div class="contact-col">
            <div>
              <i class="fa fa-home"></i>
              <span>
                <h5>Sacramento, California</h5>
                <p>United States</p>
              </span>
            </div>
            <div>
              <i class="fa fa-phone"></i>
              <span>
                <h5>+1 0123456789</h5>
                <p>Monday to Saturday, 9AM to 6PM</p>
              </span>
            </div>
            <div>
              <i class="fa fa-envelope-o"></i>
              <span>
                <h5>Cdsremodeling@gmail.com</h5>
                <p>Email us anytime</p>
              </span>
            </div>
          </div>
          <div class="contact-col">
            <div id="sent-message">
              <h1>
                Your appointment was scheduled! <br />
                Please wait for a confirmation email from us. <br />
                Thank you!
              </h1>
            </div>
            <form id="form">
              <input
                id="uname"
                type="text"
                name="name"
                placeholder="Enter your name"
                required
              />
              <input
                id="uemail"
                type="email"
                name="email"
                placeholder="Enter email adress"
                required
              />
              <input
                id="udate"
                type="date"
                name="date"
                placeholder="Select your date"
                required
              />
              <select id="utime" name="time" required>
                <option id="time1" value="9am-12pm">9am - 12pm</option>
                <option id="time2" value="12pm-3pm">12pm - 3pm</option>
                <option id="time3" value="3pm-6pm">3pm - 6pm</option>
              </select>
              <textarea
                id="utext"
                rows="4"
                name="message"
                placeholder="Message"
                required
              ></textarea>
              <p class="antispam">
                Leave this empty: <input type="text" id="uurl" name="url" />
              </p>
              <button
                id="btn"
                type="submit"
                value="Submit"
                class="hero-btn red-btn sender"
              >
                Schedule
              </button>
            </form>
          </div>
        </div>
      </section>

      <!--footer-->

      <section class="footer">
        <h4>About Us</h4>
        <p>
          Locally owned and managed in Sacramento, California.<br />
          ©Copyright 2022
        </p>
        <div class="icons">
          <i class="fa fa-wrench"></i>
          <i class="fa fa-building"></i>
        </div>
        <p>Made with <i class="fa fa-heart-o"></i></p>
      </section>
    </div>
    <!--main js file, needs to load last-->
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
